/* couleurs : white, #3480E4(bleu) */
:root
{
    --color-darkMode: black;
    --background-darkMode: white;
    --color-hover-darkMode: white;
    --background-hover-darkMode: black;
    --width-screen: 100%;
    --heigth-screen: 100vh;
}

html
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    background: var(--background-darkMode);
    min-height: var(--heigth-screen);
    max-width: var(--width-screen);
    font-family: "Typo";
    color: var(--color-darkMode);
}

a
{
    color: #3480E4;
}

.parallax
{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-screen);
    height: var(--heigth-screen);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;    
}

.parallax span {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #3480E4;
}
.parallax span:nth-child(1) {
    top: 10%;
    left: 35%;
    height: 200px;
    width: 200px;
}
.parallax span:nth-child(2) {
    top: 40%;
    left: 70%;
    height: 700px;
    width: 700px;
}
.parallax span:nth-child(3) {
    top: 50%;
    left: 10%;
    height: 350px;
    width: 350px;
}

.nav-bar
{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-screen);
    height: 50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-bar .titre-site
{
    margin-left: 100px;
    font-weight: 600;
    font-size: 24px;
    color: #3480E4;
}

.titre-site a
{
    text-decoration: none;
}

.titre-site #chemin{
    margin-left: -8px;
    font-size: 28px;
}

.titre-site span
{
    opacity: 0;
    animation: blink 0.75s infinite;
}

.nav-list
{
    display: inline-flex;
    margin-right: 100px;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    color: var(--color-darkMode);
    font-weight: 600;
    align-items: center;
}

.nav-list .non
{
    text-decoration: none;
    color: var(--color-darkMode);
}

.nav-list .icon
{
    height: 30px;
    width: 30px;
    border: 2px solid var(--color-darkMode);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.nav-list .icon:hover
{
    color: var(--color-hover-darkMode);
    background-color: var(--background-hover-darkMode);
}

.nav-list .active
{
    text-decoration: none;
    color: #3480E4;
}

.container
{
    height: var(--heigth-screen);
    width: var(--width-screen);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background
{
    height: 100%;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 160px );
    -webkit-backdrop-filter: blur( 160px );
}

.texte-accueil
{
    vertical-align: middle;
    width: 70vw;
    font-size: 2.5vw;
    background-color: transparent;
    text-align: center;
}

.texte-accueil .nom, .texte-accueil .metier
{
    color: #3480E4;
}

.lieu
{
    text-decoration: underline;
    text-decoration-color: #3480E4;
    text-decoration-thickness: 4px;
}

.fleche-bas
{
    position: absolute;
    bottom: 50px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-darkMode);
    z-index: 1;
}

.fleche-bas .container-fleche
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.fleche-bas .fleche
{
    margin-top: -25px;
    border-right: 2px solid var(--color-darkMode);
    border-bottom: 2px solid var(--color-darkMode);
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

#projets
{
    margin-left: 10vw;
    margin-right: 10vw;
}

#projets .titre
{
    font-size: 40px;
    background: transparent;
    border-radius: 10px;
    height: 8px;
    width: 220px;
    box-shadow: 0 55px 0 0 #3480E4;
    margin-bottom: 80px;
}

#projets .projet-container
{
    border: 2px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.projet-container .projet:not(:last-child):after
{
    content:""; 
    float: left;
    margin-left: 35%;
    margin-right: 35%;
    background:#3480E4; 
    width: 30%; 
    height:5px; 
    margin-top: 30px;
    border-radius: 3px;
}

.projet
{
    padding: 10px;
}

.projet p
{
    color: grey;
    font-size: 17px;
}

.projet .nom-projet
{
    font-style: italic;
}
footer
{
    color: var(--color-darkMode);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    max-height: 30px;
}

footer ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 25px;
    cursor: pointer;
    flex-direction: column;
    transition: 0.3s;
    background-color: black;
    color: white;
}

footer ul li p
{
    display: none;
}

ul .rectangle
{
    transform: bottom center;
    width: 20vw;
    height: 15vh;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;*/
    text-align: center; 
    margin-top: -10vh;
}

.rectangle p
{
    display: block;
    margin-top: 40px;
}

footer ul li:nth-child(1)
{
    background-color: #3480E4;
    color: white;
}

footer ul li:nth-child(2) img
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.rectangle img
{
    margin-bottom: -25px;
}

footer a
{
    color: grey;
    text-decoration: none;
}

.point
{
    font-family: serif;
}

@font-face {
    font-family: "Typo";
    src: local("Typo"),
      url("../font/typo-round/Typo_Round_Regular_Demo.otf") format("opentype");
  }

@keyframes blink
{
    100%{opacity: 1;};
}
  

