/* couleurs : white, #3480E4(bleu) projet (dark): #242424*/
:root
{
    --color-darkMode: black;
    --background-darkMode: white;
    --color-hover-darkMode: white;
    --background-hover-darkMode: black;
    --background-projet: lightgrey;
    --width-screen: 100%;
    --heigth-screen: 100vh;
    --box-shadow: black;
}

html
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    background: var(--background-darkMode);
    min-height: var(--heigth-screen);
    max-width: var(--width-screen);
    font-family: "Typo";
    color: var(--color-darkMode);
}

a
{
    color: #3480E4;
}

.parallax
{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-screen);
    height: var(--heigth-screen);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;    
}

.parallax span {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #3480E4;
}
.parallax span:nth-child(1) {
    top: 10%;
    left: 35%;
    height: 200px;
    width: 200px;
}
.parallax span:nth-child(2) {
    top: 40%;
    left: 70%;
    height: 700px;
    width: 700px;
}
.parallax span:nth-child(3) {
    top: 50%;
    left: 10%;
    height: 350px;
    width: 350px;
}

.nav-bar
{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-screen);
    height: 50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-bar .titre-site
{
    margin-left: 100px;
    font-weight: 600;
    font-size: 24px;
    color: #3480E4;
}

.titre-site a
{
    text-decoration: none;
}

.titre-site #chemin{
    margin-left: -8px;
    font-size: 28px;
}

.titre-site span
{
    opacity: 0;
    animation: blink 0.9s infinite;
}

.nav-list
{
    display: inline-flex;
    margin-right: 100px;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    color: var(--color-darkMode);
    font-weight: 600;
    align-items: center;
}

.nav-list .non
{
    text-decoration: none;
    color: var(--color-darkMode);
}

.nav-list a
{
    position: relative;
}

.nav-list a::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  background: #3480E4 ;
  border-radius: 5px;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.nav-list a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list .icon
{
    height: 30px;
    width: 30px;
    border: 2px solid var(--color-darkMode);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.nav-list .icon:hover
{
    color: var(--color-hover-darkMode);
    background-color: var(--background-hover-darkMode);
}

.nav-list .active
{
    text-decoration: none;
    color: #3480E4;
}

.container
{
    height: var(--heigth-screen);
    width: var(--width-screen);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background
{
    height: 100%;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 160px );
    -webkit-backdrop-filter: blur( 160px );
}

.texte-accueil
{
    vertical-align: middle;
    width: 70vw;
    font-size: 2.5vw;
    background-color: transparent;
    text-align: center;
}

.texte-accueil .nom, .texte-accueil .metier
{
    color: #3480E4;
}

.lieu
{
    text-decoration: underline;
    text-decoration-color: #3480E4;
    text-decoration-thickness: 4px;
}

.fleche-bas
{
    position: absolute;
    bottom: 50px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-darkMode);
    z-index: 0;
}

.fleche-bas .container-fleche
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.fleche-bas .fleche
{
    margin-top: -25px;
    border-right: 2px solid var(--color-darkMode);
    border-bottom: 2px solid var(--color-darkMode);
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

#projets
{
    margin-left: 10vw;
    margin-right: 10vw;
}

#projets .titre
{
    font-size: 40px;
    background: transparent;
    border-radius: 10px;
    height: 8px;
    width: 220px;
    box-shadow: 0 55px 0 0 #3480E4;
    margin-bottom: 80px;
}

#projets .projet-container
{
    border: 2px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.projet:hover
{
    background: var(--background-projet);
    cursor: pointer;
}

.projet-container .projet:not(:last-child):after
{
    position: absolute;
    content:""; 
    float: left;
    margin-left: 35%;
    margin-right: 35%;
    background:#3480E4; 
    width: 30%; 
    height:5px; 
    margin-top: 30px;
    border-radius: 3px;
}

.projet
{
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.projet p
{
    color: grey;
    font-size: 17px;
}

.projet .nom-projet
{
    font-style: italic;
}

.suite
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    z-index: 10;
}

.suite-container
{
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    background-color: var(--background-darkMode);
    border-radius: 10px;
    box-shadow: 0 0 0.3rem var(--box-shadow);
}

.suite .suite-container .close
{
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 20px;
    color: grey;
    cursor: pointer;
}

.suite h1
{
    font-size: 40px;
}

.suite p
{
    font-size: 20px;
}

footer
{
    color: var(--color-darkMode);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

footer ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

 footer p a
{
    color: grey;
    text-decoration: none;
}

.card{
    position:relative;
    
    padding:42px 32px;
    width: 400px;
    height: 100%;
    margin-bottom: 10vh;
    clip-path: circle(7% at 50% 85%);
    transition: all ease-in-out .3s;
    background-color:grey;
    text-align: center;
    z-index: 1;
  }

.card2
{
    position:relative;
    
    padding:42px 32px;
    width: 400px;
    height: 100%;
    margin-bottom: 10vh;
    clip-path: circle(13% at 50% 84%);
    transition: all ease-in-out .3s;
    background-color:var(--background-darkMode);
    color: var(--color-darkMode);
    text-align: center;
    z-index: 0;
}

.card2 .infoicon
{
    margin-bottom: 3px;
}

.infoicon{
    position:absolute;
    
    bottom:6px;
    left: 50%;
    transform: translateX(-50%);
    font-size:1.1em;
    color:white;
    transition:ease-out .3s;
}
.title{
    margin:0;
    white-space: nowrap;
    font-size: 1.1em;
}
    
.card:hover, .card:focus, .card2:hover, .card2:focus{
    clip-path: circle(75%);
    border-radius:20px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                0px 3px 18px rgba(0,0,0,0.08);
    background:lightgray;
    z-index: 2;
    outline:none;
}
.card:hover .infoicon, .card:focus .infoicon, .card2:hover .infoicon, .card2:focus .infoicon
{
    margin-bottom: 10px;
}
.card:focus{
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
                0px 3px 18px rgba(0,0,0,0.08), 
                0px 0px 0px 4px rgba(0,0,0,0.2);
}


.point
{
    font-family: serif;
}

@font-face {
    font-family: "Typo";
    src: local("Typo"),
      url("../font/typo-round/Typo_Round_Regular_Demo.otf") format("opentype");
  }

@keyframes blink
{
    100%{opacity: 1;};
}
  

